<div class="container">

    <div class="row mt-3">

        <div class="text-center mb-3">
            <h2>{{ 'NEW_GAME.SELECT_DIFFICULTY' | translate }}</h2>
        </div>

        <form class="col-6 offset-3 d-grid gap-2" [formGroup]="formGroup">

            <input *ngIf="settingsState?.initialized" type="radio" value="custom" class="btn-check" formControlName="difficulty" id="custom">
            <label *ngIf="settingsState?.initialized" class="btn py-3 btn-outline-primary" for="custom">{{ 'NEW_GAME.CUSTOM' | translate }}</label>

            <input type="radio" value="easy" class="btn-check" formControlName="difficulty" id="easy">
            <label class="btn py-3 btn-outline-success" for="easy">{{ 'NEW_GAME.EASY' | translate }}</label>

            <input type="radio" value="normal" class="btn-check" formControlName="difficulty" id="normal">
            <label class="btn py-3 btn-outline-warning" for="normal">{{ 'NEW_GAME.NORMAL' | translate }}</label>

            <input type="radio" value="difficult" class="btn-check" formControlName="difficulty" id="difficult">
            <label class="btn py-3 btn-outline-danger" for="difficult">{{ 'NEW_GAME.DIFFICULT' | translate }}</label>

        </form>

        <div class="text-center mt-3 text-muted">
            <small>{{ helpText | translate }}</small>
        </div>

        <p class="d-flex justify-content-between mt-2 gap-3 gap-md-0">
            <button
                type="button"
                class="btn btn-sm btn-outline-primary"
                (click)="collapse.toggle()"
                [attr.aria-expanded]="!isCollapsed"
                aria-controls="collapseExample"
            >
            {{ 'NEW_GAME.CUSTOMIZE_DIFFICULTY' | translate }} <fa-icon class="ms-2" [icon]="faGear"></fa-icon>
            </button>
            <button
                *ngIf="!create"
                (click)="start()"
                type="button"
                class="btn btn-lg btn-outline-success"
                aria-controls="collapseExample"
            >
            {{ 'NEW_GAME.PLAY' | translate }}! <fa-icon class="ms-2" [icon]="faGamepad"></fa-icon>
            </button>
            <button
                *ngIf="create"
                (click)="emitCreate()"
                type="button"
                class="btn btn-lg btn-outline-success"
                aria-controls="collapseExample"
            >
            {{ 'NEW_GAME.CREATE' | translate }}! <fa-icon class="ms-2" [icon]="faPlus"></fa-icon>
            </button>
        </p>
        <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
            <div class="card mb-5">
                <form class="row m-3" [formGroup]="settings">
                    <div class="col-10 col-md-11">
                        <label for="customRange2" class="form-label">{{ 'NEW_GAME.FREQUENT_LETTERS' | translate }}</label>
                        <input formControlName="autoFillFrequent" type="range" class="form-range" min="0" max="10" id="customRange2">
                    </div>
                    <div class="col-1 d-flex justify-content-center align-items-center">
                        <span class="badge bg-primary rounded-pill mt-3">{{settings.controls['autoFillFrequent'].value}}</span>
                    </div>

                    <div class="col-10 col-md-11">
                        <label for="customRange2" class="form-label">{{ 'NEW_GAME.RANDOM_LETTERS' | translate }}</label>
                        <input formControlName="autoFillRandom" type="range" class="form-range" min="0" max="10" id="customRange2">
                    </div>
                    <div class="col-1 d-flex justify-content-center align-items-center">
                        <span class="badge bg-primary rounded-pill mt-3">{{settings.controls['autoFillRandom'].value}}</span>
                    </div>

                    <div class="col-12 mt-3">
                        <div class="form-check form-switch">
                            <input class="form-check-input" formControlName="showHint" type="checkbox" role="switch">
                            <label class="form-check-label">{{ 'NEW_GAME.SHOW_HINT' | translate }}</label>
                        </div>
                    </div>

                    <div class="col-12 mb-3">
                        <div class="form-check form-switch">
                            <input class="form-check-input" formControlName="autocompleteHint" type="checkbox" role="switch">
                            <label class="form-check-label">{{ 'NEW_GAME.AUTOCOMPLETE_HINT' | translate }} <fa-icon class="ms-2" [openDelay]="500" [ngbTooltip]="'NEW_GAME.AUTOCOMPLETE_HINT_HELP' | translate" [icon]="faQuestionCircle"></fa-icon></label>
                        </div>
                    </div>

                    <div class="col-10 col-md-11">
                        <label [ngClass]="{'disabled':settings.controls['hintAmount'].disabled}" for="customRange2" class="form-label">{{ 'NEW_GAME.LETTERS_HINT' | translate }}
                            <fa-icon class="ms-2" [openDelay]="500" [ngbTooltip]='"NEW_GAME.LETTERS_HINT_HELP" | translate' [icon]="faQuestionCircle"></fa-icon>
                        </label>
                        <input formControlName="hintAmount" type="range" class="form-range" min="1" max="8" id="customRange2">
                    </div>
                    <div class="col-1 d-flex justify-content-center align-items-center">
                        <span class="badge bg-primary rounded-pill mt-3">{{settings.controls['hintAmount'].value}}</span>
                    </div>

                    <div class="col-12 mb-3">
                        <div class="form-check form-switch">
                            <input class="form-check-input" formControlName="showFrequencyOfCharacters" type="checkbox" role="switch">
                            <label class="form-check-label">{{ 'NEW_GAME.SHOW_FREQUENCY_CHARACTERS' | translate }}</label>
                        </div>
                    </div>

                    <div class="col-12 mb-3">
                        <div class="form-check form-switch">
                            <input class="form-check-input" formControlName="showFrecuencyOfLetters" type="checkbox" role="switch">
                            <label class="form-check-label">{{ 'NEW_GAME.SHOW_FREQUENCY_LETTERS' | translate }}</label>
                        </div>
                    </div>

                    <div class="col-12 mb-3">
                        <div class="form-check form-switch">
                            <input class="form-check-input" formControlName="showFrecuencyOfTwoLetters" type="checkbox" role="switch">
                            <label class="form-check-label">{{ 'NEW_GAME.SHOW_FREQUENCY_TWO_LETTERS' | translate }}</label>
                        </div>
                    </div>

                    <div class="col-12 mb-3">
                        <div class="form-check form-switch">
                            <input class="form-check-input" formControlName="showFrecuencyOfThreeLetters" type="checkbox" role="switch">
                            <label class="form-check-label">{{ 'NEW_GAME.SHOW_FREQUENCY_THREE_LETTERS' | translate }}</label>
                        </div>
                    </div>


                </form>
            </div>
        </div>

    </div>
    


</div>