.code-button{
    width: 2.85rem !important;
    min-width: 2.85rem;
}

#confetti{
    z-index: 9000;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
}

.keyboard{
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 1px;
    opacity: 0;
    z-index: -1;
}

.code-container{
    width: 100%;
    display: grid !important;
    justify-items: center;
    gap: .5rem;
    grid-template-columns: repeat(auto-fit, minmax(2.8rem, max-content));
}